* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Sora", Arial, sans-serif;
  color: #ededed;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input {
  display: block;
  max-width: 100%;
  text-decoration: none;
  border: none;
}

button {
  border-style: none;
}

.p1 {
  color: #7630b4;
}

.p2 {
  color: #ededed;
}

.p3 {
  color: #121212;
}
