.header-bg {
  background-color: #121212;
}
.header {
  padding-top: 100px;
}

.header p:first-of-type {
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 760px;
}

.header p:last-of-type {
  max-width: 760px;
  padding-bottom: 60px;
}

/*PORTFOLIO*/

.portfolio-bg {
  background-color: #ededed;
  box-shadow: inset 0 80px #121212, inset 0 -80px #121212;
}

.portfolio-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.portfolio-item p {
  font-size: 0.875rem;
  margin-bottom: 6px;
  margin-left: 10px;
  position: relative;
  letter-spacing: 0.01em;
}

.portfolio-item p::before {
  content: "";
  width: 3px;
  height: 12px;
  background-color: #7630b4;
  position: absolute;
  display: block;
  top: 3px;
  left: -8px;
}

.portfolio-item img {
  width: 360px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 1px 40px 11px rgba(0, 0, 0, 0.1);
}

@media (max-width: 790px) {
  .portfolio-item:nth-child(2) p {
    color: #121212;
  }
}

@media (max-width: 435px) {
  .portfolio-item img {
    min-width: 300px;
    height: 340px;
  }
}

/*FOOTER*/
.contato-bg {
  background-color: #121212;
  padding-bottom: 80px;
}

.contato {
  padding-top: 80px;
}

.contato p:first-of-type {
  margin-top: 32px;
}

.contato > p {
  margin-bottom: 8px;
  max-width: 760px;
}

.contato p:last-of-type {
  margin-top: 10px;
  padding-bottom: 22px;
  position: relative;
  max-width: 200px;
}

.contato p:last-of-type::after {
  content: "";
  background-image: url("../img/icons/seta.svg");
  position: absolute;
  height: 16px;
  width: 10px;
  animation: seta 0.5s ease-in 0s infinite alternate;
  top: 4px;
  right: 5px;
}

.contato img {
  width: 25px;
  height: 25px;
}
